* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* la nav */
nav {
    background-image: url("../img/images.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.wild {
    height: 90px;
    width: 200px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 34.5px 0px;
} 

li a:hover {
    color: deeppink;
    background-color: black;
}


/* header */

h1 {
    
        text-align: center;
        box-sizing: border-box;
        font-size: 60px;
        margin: 5px;
        padding: 40px;
        background-image: url("../img/images.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }
    



.Promo {
    display:grid;
    border:2px black solid;
    /* gap:10px; */
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "img p"
    "img button";
    align-items: center;
    
    background-image: url(https://www.hdwallpapers.in/download/mixed_colorful_background_hd_background-1600x900.jpg);
}

.annuaire {
    grid-area: img;
    height: 206.688px;
    width: 250px;
}


p {
    grid-area: p;
    font-size: 25px;
}

.button {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: purple;
    width : 300px;
    height: 70px;
    justify-self: center;
    
  }
  
  .button:hover {
    color:deeppink;
    background-color: black;
  }
  

/* footer */

footer{
    padding: 1rem;
    
}

.mentions{

     
    background-image: url("../img/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 60px;
    justify-content: space-between;
    
}
    

