* {
    box-sizing: border-box;
}

/* body {
    margin: 0;
}
nav {
    background-image: url("images.jpg");
    margin :0;
    padding : 0;
}

nav ul li {
    display: inline;
}

ul li{
    float:right;
    padding:0.5rem;
    text-decoration: none; 
} */