* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

/* la nav */
nav {
    background-image: url("images.jpg");
}

.wild {
    height: 90px;
    width: 200px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 34.5px 15px;
}

li a:hover {
    color: deeppink;
    background-color: black;
}


/* header */

h1 {
    text-align: center;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 650px;
}

/* Annuaire */
.Promo {
    display: grid;
    border: 2px black solid;
    /* gap:10px; */
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "img p"
        "img button";
    align-items: center;
    background-image: url(https://www.hdwallpapers.in/download/mixed_colorful_background_hd_background-1600x900.jpg);
}

.annuaire {
    grid-area: img;
    height: 206.688px;
    width: 250px;
}


.p1 {
    grid-area: p;
    font-size: 20px;
}

.button1 {
    grid-area:button;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: purple;
    width: 300px;
    height: 70px;
    justify-self: center;
}

.button1:hover {
    color: deeppink;
    background-color: black;
}

/* Formation */
.Formation {
    display: grid;
    border: 2px black solid;
    /* gap:10px; */
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "img p"
        "img button";
    align-items: center;
    background-image: url(https://www.hdwallpapers.in/download/mixed_colorful_background_hd_background-1600x900.jpg);
}

.formation {
    grid-area: img;
    height: 206.688px;
    width: 250px;
}

.p2 {
    grid-area: p;
    font-size: 20px;
}

.button2 {
    grid-area:button;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: purple;
    width: 300px;
    height: 70px;
    justify-self: center;
}

.button2:hover {
    color: deeppink;
    background-color: black;
}

/* Passions */

.Passions {
    display: grid;
    border: 2px black solid;
    /* gap:10px; */
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas: "img p"
        "img button";
    align-items: center;
    background-image: url(https://www.hdwallpapers.in/download/mixed_colorful_background_hd_background-1600x900.jpg);
}

.passion {
    grid-area: img;
    height: 206.688px;
    width: 250px;
}

.p3 {
    grid-area: p;
    font-size: 20px;
}

.button3 {
    grid-area: button;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: purple;
    width: 300px;
    height: 70px;
    justify-self: center;
}

.button3:hover {
    color: deeppink;
    background-color: black;
}


