* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* la nav */
nav {
    background-image: url("images.jpg");
}

nav ul li {
    display: inline;
}

ul li{
    float:right;
    padding:0.5rem;
    text-decoration: none; 
}
a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}

a:hover {
    color: white;
}


/* header */
h1 {
    text-align: center;
}

h3 {
    float:right;
}